@import "./colors.css";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-bluegray-80);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-movies-section {
  max-width: 1280px;
  margin: 64px 0;
}

#popular-movies-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.movie-card-view {
  display: grid;
  gap: 48px 16px;
  grid-template-columns: repeat(5, 1fr); /* 기본: 데스크탑 5개 */
  padding-bottom: 48px;
}

@media (max-width: 1120px) {
  .movie-card-view {
    grid-template-columns: repeat(4, 1fr); /* 데스크탑 화면 축소 4개 */
  }
}

@media (max-width: 800px) {
  .movie-card-view {
    grid-template-columns: repeat(3, 1fr); /* 테블릿 3개 */
  }
}

@media (max-width: 390px) {
  .movie-card-view {
    grid-template-columns: 1fr; /* 모바일 1개 */
  }
}

.movie-card {
  display: flex;
  flex-direction: column;
}

.movie-card > .poster {
  width: 100%;
  aspect-ratio: 2 / 3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-bottom: 8px;
}

.movie-card > .rate {
  color: var(--color-yellow);
  top: -1px;
}

.movie-card > .rate::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../images/star_empty.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  top: -2px; 
}

.movie-card > .title {
  font-weight: bold;
  color: var(--color-white);
}

#load-more-movies {
  width: 100%;
  height: 46px;
  background-color: var(--color-lightblue-90);
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}