@import url("./colors.css");

.movie-card-view {
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(5, 200px);
  margin: 0 auto 56px;
}

.poster {
  border-radius: 8px;
  height: 300px;
  width: 200px;
}

.item {
  cursor: pointer;
  user-select: none;
}

.item-desc > *:not(:last-child) {
  line-height: 1.2rem;
  margin-bottom: 4px;
  position: relative;
}

p.rate {
  align-items: baseline;
  color: var(--color-yellow);
  display: flex;
}

p.rate > span {
  margin-left: 4px;
}

.item .star {
  top: 1px;
  width: 16px;
}
